
<%- include("partials/header")  -%>
<!-- includes header file containg header of the html plate % -->
<h1>Home</h1>
<p ><%=para1%></p>

<% para2.forEach(function(post){  %>
 <h1> <%= post.title ; %> </h1>
 <p>
   <%=post.content.substr(0,100)+"..."; %>
   <a href="/posts/<%= post.title %>" >Read more</a>
   </p>

<%}); %>




  <!-- for(var i=0;i<para2.length;i++){         //second way of using loops.
  <p>
  para2[i].title
    </p>
    <p>
  para2[i].content
      </p>
} -->

<%- include("partials/footer")  -%>
